
.card {
    background-color: cornsilk;
    margin: 10px auto;
    width: 600px;
    border-radius: 10px;
    padding: 10px;
}

.card__user {
    display: flex;
    justify-content: space-between;
}

.card__headline {
    width: 500px;
}

.headline-wrapper {
    position: relative;
    display: flex;
}

.close-btn {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0;
}